@using Common
@{
    ViewBag.Title = GlobalDM.GetTransStr("JobType_Shivur") + "-" + GlobalDM.GetTransStr("A_About");
}

<div class="SiteSideMenu corn_3 shadow">
    @{Html.RenderAction("MenuMachine", "Menu");}
</div>

<div class="sitesubcontent corn_3 shadow">
    <a target="_blank" href="http://www.hashmal-motor.co.il/service/55-%D7%A9%D7%99%D7%95%D7%95%D7%A8-%D7%91%D7%9C%D7%99%D7%99%D7%96%D7%A8"><img src="~/images/AboutAlign.png" /></a> 
</div>
<div class="clear"></div>
