
@{
    ViewBag.Title = "Dashboard";
}

<div class="SiteSideMenu corn_3 shadow">
    @{Html.RenderAction("MenuMachine", "Menu");}
</div>
<div class="sitesubcontent corn_3 shadow">

<script>

    location.href = "#/VB/CurrentSts";
</script>

</div>
<div class="clear"></div>

