
    <div class="mobileMenuBtns">
        @*<a class="icon back"></a>*@
        <div id="showMenu" class="tc">
            <a  class="icon menu"></a>
        </div>
      
        <h1>@ViewBag.MobileTitle</h1>
        <div class="clear"></div>
    </div>

