@model List<JobTaskFieldDM>
@using Common

<script src="~/Areas/Admin/Scripts/BankTask_Field/index.js"></script>
<div id="fieldList">
    @foreach (var field in Model)
    {
        @Html.Partial("FieldTmpl", field)
    }
   


</div>
<div class="clear"></div>
<div class="addFieldDiv">
    @{
        ViewBag.Required = false;
    }
    @Html.Editor("AddFieldDrop", "AutoComplete", new { options = ViewBag.BankFields, placeholder = "הוסף שדה" })

</div>