@model IEnumerable<Common.UserDM>

@{
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "משתמשים";
}


<script src="~/Areas/Admin/Scripts/ClientSettings/User.js"></script>

@*<div class="SiteSideMenu corn_3 shadow">
    @{Html.RenderAction("MenuAdmin", "Home", new { ClientToShow = "All", ShowTree = false });}
</div>*@

<div class="sitesubcontent corn_3 shadow">


    <div class="PageContHeader">
        <div class="PageContHeaderTitle">
            <h1>משתמשי לקוח</h1>

        </div>
        <div class="HeaderActions">
            <input id="AddItemBtn" type="button" class="buttondefault" value="הוסף משתמש" />
        </div>
        <div class="clear"></div>
    </div>
    <div class="VbTabBlock corn_3">

        <div class="VbTabBlockHeader clearfix">
            <div class="BlockHeaderTitle">חיפוש משתמש</div>

        </div>
        <div class="WhiteSep"></div>
        <div class="VbTabBlockInfo">
            <div class="formRow">
                <div class="datarow  single">
                    <div class="fieldlabel">
                        חיפוש:
                    </div>
                    <div class="fieldvalue">
                        <input type="text" id="srch" placeholder="חפש" />
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    
    <div class="VbTabBlock corn_3">

        <div class="VbTabBlockHeader">
            <div class="BlockHeaderTitle">משתמשים</div>
            <div class="clear"></div>
        </div>
        <div class="WhiteSep"></div>
        <div id="pageContent" class="VbTabBlockInfo">
            @{Html.RenderAction("ClientUsers", "User", new { ClientID = ViewBag.ClientID }); }
        </div>

    </div>

  
</div>
<div class="clear"></div>
>