
@using Common
@{
    ViewBag.Title = GlobalDM.GetTransStr("JobType_Izunim") + "-" + GlobalDM.GetTransStr("A_About");
}

<div class="SiteSideMenu corn_3 shadow">
    @{Html.RenderAction("MenuMachine", "Menu");}
</div>

<div class="sitesubcontent corn_3 shadow">
    
    <a target="_blank" href="http://www.hashmal-motor.co.il/service/56-%D7%90%D7%99%D7%96%D7%95%D7%A0%D7%99%D7%9D-%D7%93%D7%99%D7%A0%D7%90%D7%9E%D7%99%D7%99%D7%9D">
        <img src="../../images/AboutAlign.png" /></a> 
</div>
<div class="clear"></div>
