
<div class="pdfFooter ">
    @Html.Raw(Common.GlobalDM.GetTransStr("SiteFooterPdf"))
    @*
        <div class="contactInfo tbl">
            <div class="tc">
                <p class="b">סניף תל אביב</p>
                <p>רח’ הרצל 146 תל אביב,66070</p>
                <p><strong>טלפון:</strong> 03-6821993 | <strong>פקס:</strong> 03-6839012</p>
            </div>
            <div class="tc">
                <p class="b">סניף באר שבע</p>
                <p>רחוב החרט 10, עמק שרה, באר שבע, 8488010</p>
                <p><strong>טלפון:</strong> 08-6848613 | <strong>פקס:</strong> 08-8554494</p>
            </div>
        </div>
    *@
    @*
        <div class="contactInfo tbl">
            <div class="tc">
                <p class="b">Tel Aviv Branch</p>
                <p>Hertzel St. 146, Tel Aviv,  66070</p>
                <p><strong>Phone:</strong> 03-6821993 | <strong>Fax:</strong> 03-6839012</p>
            </div>
            <div class="tc">
                <p class="b">Beer Sheva Branch</p>
                <p>He-Kharat Street 10, Beer Sheva, 8488010</p>
                <p><strong>Phone:</strong> 08-6848613 | <strong>Fax:</strong> 08-8554494</p>
            </div>
        </div>
    *@
    <div>
        <a href="http://www.hashmal-motor.co.il/" target="_blank" class="linktext">www.hashmal-motor.co.il</a>
    </div>
    <div class="mask"></div>
</div>
