<div id="SiteFooter">


    <div id="SiteFooterCenter">
        <div class="SiteWidth" style="text-align: center;">
            @*<div id="appVersion">V2.1</div>*@
          @Html.Raw(Common.GlobalDM.GetTransStr("SiteFooter"))
            @*<div id="FootHm">חשמל מוטור</div>
            <div id="FootHmSub">פתרונות מתקדמים לציוד סובב</div>
            <br />
            <div id="FootInfo">
                <strong>כתובת: </strong>חשמל מוטור בע”מ רח’ הרצל 146,מיקוד 66070, תל אביב  |  <strong>טלפון:</strong> 03-6821993 | <strong>פקס:</strong> 03-6839012 
                    <br />
                <strong>דוא”ל: </strong><a href="mailto:office@hashmal-motor.co.il" class="linktext">office@hashmal-motor.co.il</a>  | <strong>אתר:</strong> <a href="http://www.hashmal-motor.co.il/" target="_blank" class="linktext">www.hashmal-motor.co.il</a>  | <strong>מס’ עוסק מורשה:</strong> 514428614

            </div>
            <div id="FootCredit">
                <div id="HMCredit">כל הזכויות שמורות לחשמל מוטור 2013 </div>
                <a href="http://www.stgweb.com/" target="_blank" title="STG" class="StgCredit"></a>

                <div class="clear"></div>
            </div>

            <div id="FootHm">Hashmal Motor LTD </div>
            <div id="FootHmSub">Advanced solutions for rotating equipment </div>
            <br />
            <div id="FootInfo">
                <strong>Address: </strong>: Hashmal Motor inc. Hertzel St. 146, Zip Code 66070, Tel Aviv  |  <strong>Phone:</strong> 03-6821993 | <strong>Fax:</strong> 03-6839012 
                    <br />
                <strong>Email: </strong><a href="mailto:office@hashmal-motor.co.il" class="linktext">office@hashmal-motor.co.il</a>  | <strong>Website:</strong> <a href="http://www.hashmal-motor.co.il/" target="_blank" class="linktext">www.hashmal-motor.co.il</a>  | <strong>Licensed Dealer Number:</strong> 514428614
            </div>
            <div id="FootCredit">
                <div id="HMCredit">All rights reserved to Hashmal Motor 2013 </div>
                <a href="http://www.stgweb.com/" target="_blank" title="STG" class="StgCredit"></a>

                <div class="clear"></div>
            </div>
*@
        </div>
    </div>
</div>
