@model Common.UserLayoutDM

<div id="SiteHeader">
        <div id="SiteHeaderCenter">
            <div class="SiteWidth">
                  <a class="siteHeaderLogo" href="/" ></a>
                  <div class="clear"></div>
                <div id="siteHeaderUser">
                    <div class="details">
                         <div class="header-icon flag @Model.Lang floatlast" id="ChangeLangBtn" ></div>
                    </div>
                    <div class="clear"></div>
                </div>

               
            </div>
        </div>
    </div>