@model bool?


<div class="SwitchDivInner"  data-val="@Model.ToString().ToLower()">
    <div class="SwitchBtn true"><div class="Hand Ok"></div></div>
    <div class="SwitchBtn false"><div class="Hand NotOk"></div></div>
    <div class="clear"></div>
</div>