@{
    ViewBag.Title = "NotPermited";
    
}


@*<div class="SiteSideMenu corn_3 shadow">
    @{Html.RenderAction("MenuAdmin", "Home", new { ClientToShow = "All", ShowTree = false });}
</div>*@
<div class="sitesubcontent corn_3 shadow">
   
   <h1>אין לך הרשאה לצפות בעמוד זה</h1>
    

</div>
<div class="clear"></div>
