<table class="MsoTableGrid"  border="0" dir="rtl" cellspacing="0" cellpadding="0" width="803" style="width:602.45pt;font-family:&quot;Arial&quot;,sans-serif;margin: 20px 0;border-collapse:collapse; border:none;line-height:115%;">
    <tbody>
        <tr>
            <td width="198" rowspan="3" valign="top" style="width: 150pt;padding: 0;">
                <p><img width="197" height="74" src="http://mci.hashmal-motor.co.il/images/singture_logo.jpg" v:shapes="_x05ea__x05de__x05d5__x05e0__x05d4__x0020_1"></p>
            </td>
            <td width="227" style="width:6.0cm;padding: 0;">
                <p style="text-align:left;"><b style="color:#1BB1E7;">אווה אהרון </b>
                <span dir="LTR" style="color:#6D6E71;"><span dir="LTR"></span>|</span><span ></span></p>
            </td>
            <td width="280" style="width:210.05pt;padding:0cm 0cm 0cm 0cm">
                <p class="MsoNormal"  style="text-align:right;direction:rtl;unicode-bidi:embed">
                    <b>
                        <span dir="LTR" style="color:#1BB1E7;letter-spacing:-.4pt">Eva Aharon<span style="">&nbsp; </span></span>
                    </b><b>
                        <span  style="color:#1BB1E7;letter-spacing:-.4pt"><o:p></o:p></span>
                    </b>
                </p>
            </td>
            <td width="98" rowspan="3" valign="top" style="width:73.45pt;padding:0cm 0cm 0cm 0cm">
                <p class="MsoNormal"  style="text-align:right; direction:rtl;unicode-bidi:embed">
                    <b>
                        <span dir="LTR" style="mso-ascii-font-family:Calibri;color:#1BB1E7; mso-no-proof:yes">
                            <img width="93" height="81" src="http://mci.hashmal-motor.co.il/images/singture_whils.jpg" v:shapes="_x05ea__x05de__x05d5__x05e0__x05d4__x0020_2"><!--[endif]-->
                        </span>
                    </b><span  style="mso-hansi-font-family:Calibri"><o:p></o:p></span>
                </p>
            </td>
        </tr>
        <tr >
            <td width="507" colspan="2" style="width:380.15pt;padding:0cm 0cm 0cm 0cm">
                <p class="MsoNormal" align="center"  style="text-align:center;line-height:115%;direction:rtl;unicode-bidi:embed">
                    <b>
                        <span  style="font-size:10.0pt; color:#6D6E71;letter-spacing:-.4pt"><span style="">&nbsp;&nbsp; </span>טל':</span>
                    </b><span  style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt"></span><span dir="LTR" style="font-size:10.0pt; color:#6D6E71;letter-spacing:-.4pt">03-6821993</span><b>
                        <span dir="LTR" style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt">Tel:</span>
                    </b><span  style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt"><span ></span><span style="">&nbsp; </span></span><span  style="font-size:10.0pt;mso-hansi-font-family:Calibri;color:#1BB1E7;letter-spacing:-.4pt">|<b> </b></span><b>
                        <span  ><span style="">&nbsp;</span></span>
                    </b><b>
                        <span  style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt">נייד:</span>
                    </b><span  style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt"></span><span dir="LTR" style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt">052-4899128</span><b>
                        <span dir="LTR" style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt">Mobile:</span>
                    </b><span ></span><span  style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt"><span ></span><span style="">&nbsp; </span></span><a name="OLE_LINK3"></a><a name="OLE_LINK2"></a><a name="OLE_LINK1">
                        <span style="mso-bookmark:OLE_LINK2">
                            <span style="mso-bookmark:OLE_LINK3">
                                <span  style="font-size:10.0pt;mso-hansi-font-family:Calibri;color:#1BB1E7;letter-spacing:-.4pt">|</span>
                            </span>
                        </span>
                    </a><b>
                        <span  style="font-size:10.0pt;mso-hansi-font-family:Calibri;color:#1BB1E7;letter-spacing:-.4pt"></span>
                    </b><span  style="font-size:10.0pt; color:#6D6E71;letter-spacing:-.4pt"><span style="">&nbsp;</span><b>פקס:</b></span><span dir="LTR" style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt">03-6839012</span><b>
                        <span dir="LTR" style="font-size:10.0pt;color:#6D6E71;letter-spacing:-.4pt">Fax:</span>
                    </b><b>
                        <span  ></span>
                    </b>
                </p>
            </td>
        </tr>
        <tr style="height:23.65pt">
            <td width="227" style="width:6.0cm;padding:0cm 0cm 0cm 0cm;height:23.65pt">
                <p class="MsoNormal" align="right"  style="text-align:left;line-height:115%;direction:rtl;unicode-bidi:embed">
                    <b>
                        <span  style="font-size:10.0pt;
  color:#6D6E71;letter-spacing:-.4pt">
                            סניף
                            תל-אביב:
                        </span>
                    </b><span  style="font-size:10.0pt;
  color:#6D6E71;letter-spacing:-.4pt">
                        רח’
                        הרצל 146
                    </span><span  style="font-size:10.0pt;
  
  mso-hansi-font-family:Calibri;color:#1BB1E7;letter-spacing:-.4pt">|</span><b>
                        <span  style="
  mso-hansi-font-family:Calibri;color:#1BB1E7;letter-spacing:-.4pt"></span>
                    </b><span  style="font-size:10.0pt;
  color:#6D6E71;letter-spacing:-.4pt"><o:p></o:p></span>
                </p>
                <p class="MsoNormal" align="right"  style="text-align:left;line-height:
  115%;direction:rtl;unicode-bidi:embed">
                    <b>
                        <span  style="font-size:
  10.0pt;color:#6D6E71;
  letter-spacing:-.4pt">
                            סניף באר
                            שבע:
                        </span>
                    </b><span  style="font-size:10.0pt;
  color:#6D6E71;letter-spacing:
  -.4pt">
                        רחוב החרט 10,
                        עמק שרה
                    </span><span dir="LTR"></span><span  dir="LTR" style="font-size:10.0pt;
  color:#6D6E71;letter-spacing:-.4pt"><span dir="LTR"></span></span><span ></span><span  style="font-size:10.0pt;
  mso-hansi-font-family:
  Calibri;color:#1BB1E7;letter-spacing:-.4pt"><span ></span>|</span><span  style="
  mso-hansi-font-family:Calibri"><o:p></o:p></span>
                </p>
            </td>
            <td width="280" style="width:210.05pt;padding:0cm 0cm 0cm 0cm;height:23.65pt">
                <p class="MsoNormal"  style="
                   text-align:right;
                   
                   direction ltr;
                   unicode-bidi:embed;
                   "><a name=" OLE_LINK25">
                    </a><a name="OLE_LINK24"></a><a name="OLE_LINK23">
                        <span style="mso-bookmark:OLE_LINK24">
                            <span style="mso-bookmark:OLE_LINK25">
                                <span dir="LTR"></span><b>
                                    <span dir="LTR" style="font-size:10.0pt;
  color:#6D6E71;letter-spacing:-.4pt"><span dir="LTR"></span><span style="">&nbsp;</span>Tel Aviv Branch:</span>
                                </b>
                            </span>
                        </span>
                    </a><span style="mso-bookmark:OLE_LINK23">
                        <span style="mso-bookmark:OLE_LINK24">
                            <span style="mso-bookmark:OLE_LINK25">
                                <span dir="LTR" style="font-size:10.0pt;
  color:#6D6E71;letter-spacing:
  -.4pt">146 Hertzel St<span style="">&nbsp; </span></span>
                            </span>
                        </span>
                    </span><span dir="LTR" style="font-size:10.0pt;
  color:#6D6E71;letter-spacing:-.4pt">
                        <br>
                    </span><b>
                        <span dir="LTR" style="font-size:10.0pt;font-family:
  &quot;Arial&quot;,sans-serif;color:#6D6E71;letter-spacing:-.5pt"><span style="">&nbsp;</span>Beer-sheva Branch:</span>
                    </b><span dir="LTR" style="font-size:10.0pt;
  color:#6D6E71;letter-spacing:-.5pt">10 Hacharat St., Emek Sara<span style="">&nbsp; </span></span><span  style="font-family:
  &quot;Arial&quot;,sans-serif;mso-hansi-font-family:Calibri"><o:p></o:p></span>
                </p>
            </td>
        </tr>
    </tbody>
</table>



<table dir="rtl" cellspacing="0" cellpadding="0" style="width:602.45pt;font-family:Arial,sans-serif;color:#6D6E71;margin: 20px 0;border-collapse:collapse; border:none;line-height:115%;">
    <tr>
        <td rowspan="3" valign="top" style="width: 150pt;padding: 0;">
            <img width="197" height="74" src="http://mci.hashmal-motor.co.il/images/singture_logo.jpg">
        </td>
        <td style="text-align:left;">
            <b style="color:#1BB1E7;">אווה אהרון</b><span style="">&nbsp;</span>
            <span>|</span>
        </td>
        <td style="text-align:right;">
            <span style="">&nbsp;</span><b style="color:#1BB1E7">Eva Aharon</b>
        </td>
        <td rowspan="3" valign="top" style="width:73.45pt;">
            <img width="93" height="81" src="http://mci.hashmal-motor.co.il/images/singture_whils.jpg">
        </td>
    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
</table>

 	אווה אהרון|   	Eva Aharon
	   טל': Tel: 03-6821993  |  נייד: Mobile: 052-4899128  |  פקס: Fax: 03-6839012
	סניף תל-אביב: רח’ הרצל 146 |
סניף באר שבע: רחוב החרט 10, עמק שרה |	 Tel Aviv Branch: 146 Hertzel St
 Beer-sheva Branch: 10 Hacharat St., Emek Sara
