
@{
    Layout = null; //"~/Views/Shared/_LayoutReport.cshtml";

}


<div class="report-header-top">
    <div class="SiteWidt ">
        <div class="report-header-inner">
            <label>הצעת מחיר</label>
            <div>15/02/82</div>
        </div>

    </div>

</div>

<h1>hi</h1>