@model OutsideFilterDm
@using Common


<script src="~/Areas/Admin/Scripts/Outside/index.js"></script>
@*<div class="SiteSideMenu corn_3 shadow">
    @{Html.RenderAction("MenuAdmin", "Home", new { ClientToShow = "Refubrish", ShowTree = false });}
</div>*@
<div class="sitesubcontent corn_3 shadow">
    <div class="PageContHeader">
        <div class="PageContHeaderTitle">
            <h1>קריאות שירות</h1>

        </div>
        <div class="HeaderActions">
            <input type="submit" class="buttondefault" value="קריאה חדשה" onclick="window.location = '/Admin/#/Job/Details/?jobType=Outside';">
           
          </div>
        <div class="clear"></div>
    </div>

    <div>

        <div class="VbTabBlock corn_3 searchFields">

            <div class="VbTabBlockHeader">
                <div class="BlockHeaderTitle">חיפוש</div>
                <div class="HeaderActions">
                    <a class="linktext clear">נקה שדות</a>

                </div>
                <div class="clear"></div>
            </div>
            <div class="WhiteSep"></div>
            <div class="VbTabBlockInfo">
                <div class="formRow">
                    <div class="datarow  single">
                        <div class="fieldlabel">
                            חיפוש:
                        </div>
                        <div class="fieldvalue">
                            <input type="text" id="srch" placeholder="חפש" />
                        </div>
                    </div>
                </div>

                <div class="formRow ">
                    <div class="datarow floatfirst">
                        <div class="fieldlabel">
                            אזור:
                        </div>
                        <div class="">
                            @Html.Editor("Zone", "AutoComplete", new { options = ViewBag.Zones })
                        </div>
                    </div>
                    <div class="datarow  floatfirst">
                        <div class="fieldlabel">
                            יוצר:
                        </div>
                        <div class="fieldvalue">
                            @Html.Editor("CreatorID", "AutoComplete", new { options = ViewBag.Creator })


                        </div>
                    </div>



                </div>

                <div class="clear"></div>

            </div>
        </div>


        <div id="innerContent" class="VbTabBlock corn_3">
            @Html.Partial("Filterd", Model)

        </div>
    </div>
</div>
<div class="clear"></div>


<style>
    td {
        line-height: 1.7;
    }
</style>
