<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="../../Content/Site_rtl.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.8.2.min.js"></script>
    <title></title>
</head>
<body>
     <div class="VbTabOutter">
        <div class="VbTabInner corn_3">
             <div id="VbTabMacDetails" class="VbTabBlock corn_3">
              dfg
            </div>
             <div id="VbTabMacPoints" class="VbTabBlock corn_3">
              dfg
            </div>
            
            <div id="VbTabPointVal" class="VbTabBlock corn_3">
              dfg
            </div>
        </div>
    </div>
</body>
</html>
