
@{
    ViewBag.Title = "Index";
}

@*<div class="SiteSideMenu corn_3 shadow">
    @{Html.RenderAction("MenuAdmin", "Home", new { ClientToShow = "Refubrish", ShowTree = false });}
</div>*@
<div class="sitesubcontent corn_3 shadow">
    <div class="PageContHeader">

        <div class="PageContHeaderTitle">
            <h1>דו"חות</h1>
        </div>
        <div class="HeaderActions">



        </div>
        <div class="clear"></div>

    </div>

    <div class="VbTabBlock corn_3 ">
        <div class="VbTabBlockHeader">
            <div class="BlockHeaderTitle">עבודות</div>
            <div class="clear"></div>
        </div>
        <div class="WhiteSep"></div>
        <div class="VbTabBlockInfo">
            <ul class="VB">
                <li class="linktext"><a href="/Admin/#/ManagReport/Refubrish">כמות עבודות בחודש</a></li>

            </ul>

        </div>

    </div>

    <div class="VbTabBlock corn_3 ">
        <div class="VbTabBlockHeader">
            <div class="BlockHeaderTitle">הצעות מחיר</div>
            <div class="clear"></div>
        </div>
        <div class="WhiteSep"></div>
        <div class="VbTabBlockInfo">

            <ul class="VB">
                <li class="linktext"><a href="/Admin/#/ManagReport/Quote">כמות הצעות בחודש</a></li>

            </ul>

        </div>

    </div>
</div>
<div class="clear"></div>




